html {
    scroll-behavior: smooth;
  }

body{
    font-family: "montserrat";
    text-align: "center";
    border-bottom: yellowgreen 5px;
}



.navbar {
    padding: 0% 3%;
}

.container-fluid {
    padding: 5% 10%;
}

.colored-section {
    background-color: transparent;
    color: white;
}